* {
    margin: 0;
    padding: 0;
    /*border-box -盒子的宽度，包括内容、内边距、边框 */
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* view height:相对于视口的高度。视口被均分为100单位的vh */
    height: 100vh;
}

.container {
    display: flex;
    /* view width:相对于视口的宽度，视口被均分为100单位的vw */
    width: 90vw;
}

.panel {
    /*contain: 图片按比例显示出来
     cover:保持图像的纵横比并将图像缩放成将完全覆盖背景定位区域的最小大小。图片按比例将盒子占满 */
    background-size: cover;
    /* 背景图片显示位置 */
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: white;
    /* 悬浮于连接上时，通常为手 */
    cursor: pointer;
    /* 每个各占1份 */
    flex: 1;
    margin: 10px;
    /* 相对定位 */
    position: relative;
    -webkit-transition: all 700ms ease-in 0s;
}

.panel h3 {
    font-size: 24px;
    /* 绝对定位 */
    position: absolute;
    bottom: 20px;
    left: 20px;
    /* 透明度 */
    opacity: 0;
}

.panel.active {
    flex: 8;

}

.panel.active h3 {
    flex: 8;
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;

}

@media (max-width:480px) {
    .container {
        width: 100vw;
    }

    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
        display: none;
    }
}